@font-face {
    font-family: 'minecraft';
    src: url('./fonts/minecraft.ttf');
}

* {
    font-family: minecraft;
}

.container {
    display: grid;
    grid-template-columns: 25vw auto 30vw;
    grid-template-rows: 15vh auto;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    --color: rgba(0, 115, 19, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(180deg,
            transparent 24%,
            var(--color) 25%,
            var(--color) 26%,
            transparent 27%,
            transparent 74%,
            var(--color) 75%,
            var(--color) 76%,
            transparent 77%,
            transparent),
        linear-gradient(45deg,
            transparent 24%,
            var(--color) 35%,
            var(--color) 26%,
            transparent 17%,
            transparent 74%,
            var(--color) 75%,
            var(--color) 76%,
            transparent 77%,
            transparent);
    background-size: 55px 55px;
}

h1 a {
    text-decoration: none;
    animation-name: prueba;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes prueba {
    0% {
        background: linear-gradient(0deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    8% {
        background: linear-gradient(30deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    16% {
        background: linear-gradient(60deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    24% {
        background: linear-gradient(90deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    32% {
        background: linear-gradient(120deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    40% {
        background: linear-gradient(150deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    48% {
        background: linear-gradient(180deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    56% {
        background: linear-gradient(210deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    64% {
        background: linear-gradient(240deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    72% {
        background: linear-gradient(270deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    80% {
        background: linear-gradient(300deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    88% {
        background: linear-gradient(330deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    96% {
        background: linear-gradient(360deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;
    margin-top: 10vh;
}

#marcador {
    background-color: rgb(119, 231, 136);
    width: 15vw;
    height: 10vh;
    border: 5px solid rgb(71, 150, 83);
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tablero {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#start {
    display: flex;
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 10vw;
    height: 10vh;
    border-radius: 23px;
    border: 5px solid rgb(71, 150, 83);
    background: #77E788;
    box-shadow: 7px 7px 14px #305c36,
        -7px -7px 14px #beffda;
}

#start:active {
    box-shadow: inset 7px 7px 14px #305c36,
        inset -7px -7px 14px #beffda;
}


#tablero canvas {
    background: repeating-linear-gradient(rgba(13, 152, 27, 0.8),
            rgba(13, 152, 27, 0.8) 2vh,
            rgba(4, 171, 21, 0.8) 2vh,
            rgba(4, 171, 21, 0.8) 4vh);
    border: 4px solid black;
}