@font-face {
    font-family: 'minecraft';
    src: url('./fonts/minecraft.ttf');
}

* {
    font-family: minecraft;
}

body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-body,
.accordion-item {
    width: 30vw;
    text-align: center;
}

.titulo, .button {
    display: flex;
    justify-content: center;
}

.button button {
    color: #FAFAFA;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow:
        3px 3px #53a7ea,
        4px 4px #53a7ea,
        5px 5px #53a7ea;
    cursor: pointer;
    margin-top: 10%;
}

.button button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.titulo h1 {
    font-size: 20vh;
    margin-top: 0;
    margin-bottom: 5%;
    opacity: 0;
    animation: titulo 3s forwards;
}

@keyframes titulo {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 100;
        transform: translateY(0) scale(1.5);
    }
}